@font-face {
    font-family: krabby-patty;
    src: url(krabby-patty.ttf);
}

body {
    background-image: url('../images/background.png');
    /* background-repeat: repeat; */
    background-size: cover;
}

header {
    font-family: krabby-patty;
    font-size: 48px;
    color: yellow;
    text-shadow: 0px 4px 3px rgba(150,75,0,1),
                0px 8px 13px rgba(150,75,0,0.7),
                0px 18px 23px rgba(150,75,0,0.5);
}

.card {
    margin: 0 auto;
}

.container {
    height: 100vh;
}

.dark-blue {
    color: darkblue;
}

.main-content {
    font-size: 1.5em;
    background-color: #6fc4e194;
    border-radius: 25px;
}

#beat-result {
    list-style: none;
    padding-left: 0;
}

#dropdown, #season-1-dropdown, #season-2-dropdown, #season-3-dropdown, #season-4-dropdown, #season-5-dropdown, #season-6-dropdown {
    display: none;
}

#results {
    background-color: #6fc4e1;
    /* border: 1px solid black; */
    border-radius: 25px;
    display: none;
}

#season-rank {
    color: red;
}

@media (min-width: 768px) {
    #results, .main-content {
        width: 75%;
        margin: 0 auto;
    }
    #text-input, #season-dropdown, #season-1-dropdown, #season-2-dropdown, #season-3-dropdown, #season-4-dropdown, #season-5-dropdown, #season-6-dropdown, #dropdown {
        width: 60%;
        margin: 0 auto;
    }
}

@media (min-width: 992px) {
    #results, .main-content {
        width: 60%;
        margin: 0 auto;
    }
}

@media (min-width: 1200px) {
    #results, .main-content {
        width: 50%;
        margin: 0 auto;
    }
}